.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5em;
}

.bg-color-grey {
  background-color: #eee;
}

.right {
  float: right;
}

.bold {
  font-weight: bold;
}

.height-100 {
  height: 100vh
}

.text-size-10 {
  font-size: 10em;
  padding: 0 !important;
  margin: 0 !important;
}

.text-size-50 {
  font-size: 50em;
}

.align-center {
  display: grid;
  align-content: center;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
